<header>
    <nav>
        <ul style="list-style: none; display: flex; ">
            <li><a href="/api/user">User</a></li>
            <li><a href="/api/requestAppointment">Request Appointment</a></li>
            <li><a href="/api/requestedAppointments">Requested Appointments</a></li>
            <li><a href="/api/myappointments">My Appointments</a></li>
        </ul>
    </nav>
</header>

<style>

    li{
        padding: 20px;
    }
</style>